Package: cloudflared
Version: ${CLOUDFLARED_VERSION}
Depends: ca-certificates, ca-bundle
SourceName: cloudflared
Section: net
Architecture: ${OPENWRT_ARCH}
Installed-Size: 13029023
Description:  Cloudflare Tunnel
 Securing DNS traffic via DoH
